* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-left {
  justify-content: left;
}

.favourite-img {
  width: 40px;
  height: 40px;
}

#main-container {
  width: 100vw;
}

#image {
  height: 300px;
  max-width: 95%;
}
