@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Kablammo", system-ui;
}

.breed-p {
  width: 100px;
}

.breed-select {
  width: 150px;
  padding: 5px;
  background-color: #d37706;
  color: white;
  text-align: center;
}

.width-100 {
  width: 100%;
}

.button {
  background-color: #ff7300; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:active {
  transform: translate(1px, 1px);
}

.button-small {
  padding: 5px 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-left {
  justify-content: left;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: start;
}

.favourite-container {
  justify-content: space-between;
  width: 100%;
}

.favourite-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(77, 203, 199);
}

#favourites-div {
  width: 200px;
}

#image {
  height: 300px;
  max-width: 95%;
}

#breed-selector {
  min-height: 170px;
}
